
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>AXIOS</title>
</head>
<body>
    <div class="item_list">
        <li class="item" value = "first">Якась штука №1</li>
        <li class="item" value = "second">Якась штука №2</li>
        <li class="item" value = "third">Якась штука №3</li>
        <li class="item" value = "fourth">Якась штука №4</li>
        
    </div>
    <script src="./app.js"></script>
</body>
</html>